<section id="about-me" class="section snap-section about-me">
  <div class="content">
    <p class="label type-section-label">About Me</p>
    <h2 class="type-section-title">Who am I again?</h2>
    <br />
    <img class="image-profile neon-glow" [src]="profileImagePath" />
    <br />
    <p class="text type-body">
      Hello, I’m Jerry, a computer engineer with over 6 years of dedicated experience in hybrid app
      development. I thrive in collaborative environments and can seamlessly integrate into any
      team, whether working remotely or on-site. Relocating is not an issue for me.
      <br />
      <br />Throughout my career, I have successfully developed numerous applications in the fields
      of business security and management. I possess a comprehensive understanding of the entire app
      development lifecycle—from initial concept to publication, and ongoing maintenance.
    </p>
  </div>
</section>
